.btn {
  border-radius: 5px;
  background-color: rgb(81, 78, 78);
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 0.5rem;
  margin-right: 0.8rem;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(115, 111, 111);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  /* margin-bottom: 1rem; */
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.nightMode {
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  outline: 0;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nightMode:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.gameTitle {
  font-size: 0.7rem;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
}

@media screen and (max-width: 300px) {
  .nightMode {
    min-width: 40px;
    padding: 6px 8px;
    border-radius: 4px;
    outline: 0;
    border: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
      color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gameTitle {
    font-size: 0.4rem;
  }
}
