.MuiSnackbarContent-root {
  justify-content: center;
}

.MuiButton-root {
  max-width: 7rem;
  padding: 7px 8px !important;
}
.MuiMenuItem-root {
  display: flex !important;
  justify-content: space-between !important;
}
