.gameTitle h1 {
  text-align: center;
  margin: 0;
  font-size: 1.5rem;
}

/* if in darkMode */

body:not(.endGame) input,
body:not(.endGame) {
  background-color: rgb(41, 41, 41);
  color: white;
}

.gameField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mainGame {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
}

.bottomText {
  text-align: center;
  /* position: fixed;
  left: 50%;
  bottom: 10px;
  transform: translate(-50%); */
}
